bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
appsettings.local.json
.idea/
/.vs/Migration.Toolkit/v17
/.vs/kx13-to-kxo-migration/v17/workspaceFileList.bin
/.vs/Migration.Toolkit/DesignTimeBuild/.dtbcache.v2
