# Auto detect text files and perform LF normalization
*        text=auto

*.cs     text eol=lf diff=csharp
*.html   text diff=html
*.sql    text
*.md     text

*.csproj text merge=union eol=lf
*.sln    text merge=union eol=lf

# Ensure binary files are not treated as text https://stackoverflow.com/a/32278635/939634
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary